
/************************* Estilos iniciales *****************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 10px 0;
}

/*************************** Cabecera ***********************/
.banner {
  height: 150px;
}

.banner .img-fluid {
  height: 100%;
  width: 100%;
  width: 100% \9;
}

.session div {
  background-color: #E9D460;
}

.session .btn {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
/************************ Pagina central *********************/
.pagina-central {
 
}
/************************ Menu *******************************/
.columna-menu {
  padding-right: 0;
}

.contenedor-menu {
  height: 531px;
  width: 100%;
  display: inline-block;
  line-height: 18px;
  border-top: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-color: #ABB7B7;
}

.contenedor-menu a {
  text-decoration: none;
  color: #fff;
}

.contenedor-menu .menu {
  width: 100%;
}

.contenedor-menu ul {
  list-style: none;
  overflow: auto;
  height: 100%;
}

.contenedor-menu ul li ul{
  overflow-y: hidden; 
  height: auto;
}

.contenedor-menu .menu li a{
  color: #494949;
  display: block;
  padding: 15px 20px; /*Tamaño de elemento del menu*/
  background-color: #E4F1FE; /*Color del Menu*/
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.contenedor-menu .menu>li>a:hover { /*Color de elementos hijos del tag nav*/
  background-color: #1E8BC3;
  color: #fff;
}

.contenedor-menu .menu .icono {
  line-height: 18px; /*debe ser igual al line height de su contenedor para evitar cruses de texto o iconos*/
}

.contenedor-menu .menu .icono.izquierda { /*Posiciona los iconos */
  float: left;
  margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha{
  float: right;
  margin-left: 10px;
}

.contenedor-menu .menu ul {
  display: none; /*ocultar submenus*/
}

.contenedor-menu .menu ul li a{
  background-color: #E9D460;
  color: #494949;
  transition: 0.3s0.5s;
  transition-timing-function: ease-out;
}

.contenedor-menu .menu ul li a:hover { /*color de elementos secundarios del menú al pasar el cursor*/
  background-color: #F27935;
  color: #fff;
}

.contenedor-menu .menu .activado > a {
  background-color: #1E8BC3; /*clase para mantener el color en la seleccion activa*/
  color: #fff;
}

.btn-menu { /*** Boton de menu solo activo para dispositivos de baja resolucion ***/
  display: none;
  padding: 20px;
  background-color: #044b95;
  color: #fff;
}

.btn-menu .icono { /*** Mueve el icono del menu para moviles a la derecha ***/
  float: right;
}

@media screen and (max-width: 767px) { /*** Si la pantalla es pequeña ***/
  body {
    padding-top: 50px;
  }

  .columna-menu {
    padding-left: 0;
  }

  .contenedor-menu{
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    overflow: auto;
  }

  .menu-index {
    z-index: 1000; /*** Clase para darle prioridad al menu en la pantalla ***/
  }

  .btn-menu{
    display: block;
  }

  .btn-menu .icono {
    float: right;
    margin-right: 3%;
  }

  .contenedor-menu .menu{
    display: none;
  }
}

/****************************** Main **********************************/
.main {
  padding-left: 0;
}

.jumbotron {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #ABB7B7;
  height: 531px;
}

/********************************* Footer ***************************/
.pie {
  margin: 0;
}

.iconos-pie {
  width: 100%;
  font-size: 1.5em;
  margin: 0;
}

.icon-html5-alt{color: #F27935;}
.icon-css3-alt{color: #446CB3;}
.icon-php-alt{color: #3A539B;}
.icon-javascript-alt{color: #E9D460;}
.icon-bootstrap{color: #674172;}
.icon-mariadb{color: #c49a6c;}
.icon-apache{color: #F62459}

/*** Responsive Design ***/
/*** Cambiar por max-width para dispositovs -breakpoint- para avbajo ***/

/*** Dispositovs extra pequeños (Telefonos) XS para arriba ***/
html {
  font-size: 12px;
}

/*** Dispositivos pequeños (SmarthPhones) SM para arriba ***/
@media (min-width: 576px) {  
  html {
    font-size: 12px;
  }
}

/*** Dispositivos Medianos (Tablets) MD para arriba ***/
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

/*** Dispositivos Grandes para arriba (PC) LG ***/
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

/*** Dispositivos Extra Grandes para arriba (PC, Laptops Grandes) XL ***/
@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}

/*** Dispositivos pequeños (SmarthPhones) SM para abajo ***/
@media (max-width: 767px) {
  .session {
    padding: 0;
  }

  .main {
    padding: 0;
  }

  .jumbotron {
    height: auto;
    padding-bottom: 10px;
  }
}