
/***  Estilos iniciales ***/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 10px 0;
}

/*** Cabecera ***/
.banner {
  height: 150px;
}

.banner .img-fluid {
  height: 100%;
  width: 100%;
  width: 100% \9;
}

.session {
  height: 50px;
}

.session .row {
  background-color: #e9e9e9;
}

.session .btn {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/*** Menu **/
.menu {
  height: 400px;
  background-color: yellow;
}

/*** Main **/
.main {
  height: 400px;
  background-color: black;
  color: white;
}

/*** Footer ***/
.pie {
  height: 100px;
  background-color: brown;
}

/*** Responsive Design ***/
/*** Cambiar por max-width para dispositovs -breakpoint- para arriba ***/
/*** Dispositivos extra pequeños (Telefonos y Smarthphones) para abajo ***/
//@media (max-width: 576px) {  }
  html {
    font-size: 12px;
  }


/*** Dispositivos pequeños (Smarthphones) para abajo ***/
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

/*** Dispositivos medianos para abajo (Tablets, Laptops, PC) ***/
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

/*** Dispositivos grandes para abajo (PC, Laptops) ***/
@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}