/************************* Estilos iniciales *****************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 10px 0;
}

/*************************** Cabecera ***********************/
.banner {
  height: 150px;
}

.banner .img-fluid {
  height: 100%;
  width: 100%;
  width: 100% \9;
}

.session div {
  background-color: #E9D460;
}

.session .btn {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/*********************** Notificaciones ***************/
.notification-nav {
  position: fixed;
  right: 10px;
  z-index: 999;
  top: 220px;
}

.toggleNotifications {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  height: 58px;
  width: 70px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggleNotifications .show {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
  height: 40px;
  max-width: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  background: rgba(30, 139, 195, 0.5);
  font-size: 24px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.toggleNotifications .show:hover {
  background: rgb(30, 139, 195);
  cursor: pointer;
}
.toggleNotifications .show i {
  line-height: 38px;
}

.count {
  position: absolute;
  top: 5px;
  right: 26px;
}
.count .num {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #f22;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 17px;
  font-size: 11px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.notifications {
  display: none;
  z-index: 999;
  position: absolute;
  top: 52px;
  right: 24px;
  width: 300px;
  background-color: #E4F1FE;
  border: 1px solid #455;
  border-radius: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.notifications:after {
  content: ' ';
  position: absolute;
  top: -20px;
  right: 0px;
  width: 0px;
  height: 10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #465;
  pointer-events: none;
}
.notifications:before {
  content: ' ';
  position: absolute;
  top: -21px;
  right: 0px;
  width: 0px;
  height: 10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #455;
  pointer-events: none;
}
.notifications .btnbar {
  position: relative;
  height: 60px;
  background: -webkit-linear-gradient(#1E8BC3,#1E8BC3);
  background: linear-gradient(#1E8BC3, #1E8BC3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.notifications .btnbar .text {
  line-height: 60px;
  padding: 0px 20px;
  position: absolute;
  top: 0px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.notifications .btnbar .text.empty {
  opacity: 0;
}
.notifications .btnbar .delete {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
  background: rgba(233, 212, 96, 0.75);
  border-radius: 50%;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.notifications .btnbar .delete i {
  line-height: 38px;
  font-size: 18px;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  top: -1px;
  left: 9px;
}
.notifications .btnbar .delete i.empty {
  opacity: 0;
}
.notifications .btnbar .delete:hover {
  background: rgba(233, 212, 96, 0.95);
  cursor: pointer;
}
.notifications .note {
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  max-height: 40px;
  color: #000;
}
.notifications .note:first-of-type {
  margin-top: 0px;
}
.notifications .note.read {
  color: #000;
}
.notifications .note:hover {
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.notifications .note i {
  position: relative;
  top: -1px;
  margin-right: 5px;
  vertical-align: middle;
  color: #000066;
}

.notifications .note i.fa-exclamation-triangle {
  color: #FF2222;
}

#navtoggle {
  display: none;
}
#navtoggle:checked ~ .toggleNotifications .notifications {
  display: block;
}

#deletetoggle {
  display: none;
}
.groupofnotes a {
  text-decoration: none;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .groupofnotes .note {
  max-height: 0px;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .groupofnotes .note:nth-of-type(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .groupofnotes .note:nth-of-type(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .groupofnotes .note:nth-of-type(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .groupofnotes .note:nth-of-type(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .btnbar .delete {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  background: #465;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .btnbar .full {
  opacity: 0;
}
#deletetoggle:checked ~ .toggleNotifications .notifications .btnbar .empty {
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
#deletetoggle:checked ~ .toggleNotifications .count .num {
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
#deletetoggle:checked ~ .toggleNotifications .count .num:nth-of-type(4) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
#deletetoggle:checked ~ .toggleNotifications .count .num:nth-of-type(3) {
  -webkit-transition-delay: 0.33333s;
          transition-delay: 0.33333s;
}
#deletetoggle:checked ~ .toggleNotifications .count .num:nth-of-type(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
#deletetoggle:checked ~ .toggleNotifications .count .num:nth-of-type(1) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

/************************ General *********************/
.btn-block {
  transition: 0.3s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.btn-block:hover {
    box-shadow: 0px 0px 3px #000;
}
/************************ Menu *******************************/
.columna-menu {
  padding-right: 0;
}

.contenedor-menu {
  height: 531px;
  width: 100%;
  display: inline-block;
  line-height: 18px;
  border-top: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-color: #ABB7B7;
}

.contenedor-menu a {
  text-decoration: none;
  color: #fff;
}

.contenedor-menu .menu {
  width: 100%;
}

.contenedor-menu ul {
  list-style: none;
  overflow: auto;
  height: 100%;
}

.contenedor-menu ul li ul{
  overflow-y: hidden; 
  height: auto;
}

.contenedor-menu .menu li a{
  color: #494949;
  display: block;
  padding: 15px 20px; /*Tamaño de elemento del menu*/
  background-color: #E4F1FE; /*Color del Menu*/
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.contenedor-menu .menu>li>a:hover { /*Color de elementos hijos del tag nav*/
  background-color: #1E8BC3;
  color: #fff;
}

.contenedor-menu .menu .icono {
  line-height: 18px; /*debe ser igual al line height de su contenedor para evitar cruses de texto o iconos*/
}

.contenedor-menu .menu .icono.izquierda { /*Posiciona los iconos */
  float: left;
  margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha{
  float: right;
  margin-left: 10px;
}

.contenedor-menu .menu ul {
  display: none; /*ocultar submenus*/
}

.contenedor-menu .menu ul li a{
  background-color: #E9D460;
  color: #494949;
  transition: 0.3s0.5s;
  transition-timing-function: ease-out;
}

.contenedor-menu .menu ul li a:hover { /*color de elementos secundarios del menú al pasar el cursor*/
  background-color: #F27935;
  color: #fff;
}

.contenedor-menu .menu .activado > a {
  background-color: #1E8BC3; /*clase para mantener el color en la seleccion activa*/
  color: #fff;
}

.btn-menu { /*** Boton de menu solo activo para dispositivos de baja resolucion ***/
  display: none;
  padding: 20px;
  background-color: #044b95;
  color: #fff;
}

.btn-menu .icono { /*** Mueve el icono del menu para moviles a la derecha ***/
  float: right;
}

@media screen and (max-width: 767px) { /*** Si la pantalla es pequeña ***/
  body {
    padding-top: 50px;
  }

  .columna-menu {
    padding-left: 0;
  }

  .contenedor-menu{
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    overflow: auto;
  }

  .menu-index {
    z-index: 1000; /*** Clase para darle prioridad al menu en la pantalla ***/
  }

  .btn-menu{
    display: block;
  }

  .btn-menu .icono {
    float: right;
    margin-right: 3%;
  }

  .contenedor-menu .menu{
    display: none;
  }
}

/****************************** Main **********************************/
.main {
  padding-left: 0;
}

.jumbotron {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #ABB7B7;
  height: 531px;
}

/********************************* Footer ***************************/
.pie {
  margin: 0;
}

.iconos-pie {
  width: 100%;
  font-size: 1.5em;
  margin: 0;
}

.icon-html5-alt{color: #F27935;}
.icon-css3-alt{color: #446CB3;}
.icon-php-alt{color: #3A539B;}
.icon-javascript-alt{color: #E9D460;}
.icon-bootstrap{color: #674172;}
.icon-mariadb{color: #c49a6c;}
.icon-apache{color: #F62459}

/*** Responsive Design ***/
/*** Cambiar por max-width para dispositovs -breakpoint- para avbajo ***/

/*** Dispositovs extra pequeños (Telefonos) XS para arriba ***/
html {
  font-size: 12px;
}

/*** Dispositivos pequeños (SmarthPhones) SM para arriba ***/
@media (min-width: 576px) {  
  html {
    font-size: 12px;
  }
}

/*** Dispositivos Medianos (Tablets) MD para arriba ***/
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

/*** Dispositivos Grandes para arriba (PC) LG ***/
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

/*** Dispositivos Extra Grandes para arriba (PC, Laptops Grandes) XL ***/
@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}

/*** Dispositivos pequeños (SmarthPhones) SM para abajo ***/
@media (max-width: 767px) {
  .session {
    padding: 0;
  }

  .main {
    padding: 0;
  }

  .jumbotron {
    height: auto;
    padding-bottom: 10px;
  }
}