

/*Estilos personalizados para las listas */

.listado {
  padding: 0;
  max-width: 100%;
  overflow: auto;
  line-height: 1.0 !important;
}

.cantidad {
  height: 50px;
}

.input-cantidad {
  width: auto;
}

.modal-header {
  background-color: #E9D460;
}

.lista-modal {
  list-style: none;
}

.lista-modal > li {
  padding: 10px 20px;
}